.DS_Store
fastlane
*.ipa
*.mobileprovision
*.app.dSYM.zip
xcuserdata

android/.gradle/
android/app/build/
node_modules/
android/build/
ios/build/
ios/Pods/
.vscode/
android/local.properties
android/.idea/
android/phonect.iml
android/app/app.iml
.expo/packager-info.json
.expo/settings.json
__MACOSX/._images
__MACOSX/images/._BG-signUp.png
__MACOSX/images/._BG.png
__MACOSX/images/._Header-Logo.png
__MACOSX/images/._NewsIcons
__MACOSX/images/._Widgets
__MACOSX/images/._contacts
__MACOSX/images/._glow2.png
__MACOSX/images/._glow2@2x.png
__MACOSX/images/._glow2@3x.png
__MACOSX/images/._icon.png
__MACOSX/images/._launchImages
__MACOSX/images/._launchscreen.png
__MACOSX/images/._loading.png
__MACOSX/images/._logo.png
__MACOSX/images/._sid.png
__MACOSX/images/._walkthrough.jpg
__MACOSX/images/._wave.png
__MACOSX/images/NewsIcons/._1.jpg
__MACOSX/images/NewsIcons/._10.jpg
__MACOSX/images/Widgets/._widget2.png
__MACOSX/images/contacts/._sanket.png
__MACOSX/images/NewsIcons/._11.jpg
__MACOSX/images/Widgets/._widget3.png
__MACOSX/images/contacts/._sankha.png
__MACOSX/images/NewsIcons/._12.jpg
__MACOSX/images/contacts/._saurav.png
__MACOSX/images/contacts/._atul.png
__MACOSX/images/NewsIcons/._13.jpg
__MACOSX/images/contacts/._varun.png
__MACOSX/images/contacts/._megha.png
__MACOSX/images/NewsIcons/._2.jpg
__MACOSX/images/contacts/._pratik.png
__MACOSX/images/launchImages/._splashscreen.png
__MACOSX/images/NewsIcons/._3.jpg
images/Header-Logo.png
images/BG-signUp.png
__MACOSX/images/NewsIcons/._4.jpg
images/BG.png
images/NewsIcons/1.jpg
images/NewsIcons/4.jpg
images/NewsIcons/10.jpg
__MACOSX/images/NewsIcons/._5.jpg
images/NewsIcons/5.jpg
images/NewsIcons/11.jpg
__MACOSX/images/NewsIcons/._6.jpg
images/NewsIcons/6.jpg
images/NewsIcons/12.jpg
__MACOSX/images/NewsIcons/._7.jpg
images/NewsIcons/13.jpg
images/NewsIcons/7.jpg
__MACOSX/images/NewsIcons/._8.jpg
images/NewsIcons/8.jpg
images/NewsIcons/2.jpg
__MACOSX/images/NewsIcons/._9.jpg
images/NewsIcons/9.jpg
images/NewsIcons/3.jpg
images/loading.png
images/Widgets/widget1.png
__MACOSX/images/Widgets/._widget1.png
images/logo.png
images/sid.png
images/Widgets/widget3.png
images/walkthrough.jpg
images/contacts/atul.png
images/wave.png
images/contacts/megha.png
images/contacts/pratik.png
images/contacts/sanket.png
images/contacts/sankha.png
images/contacts/saurav.png
images/contacts/varun.png
images/glow2.png
images/glow2@2x.png
images/glow2@3x.png
images/icon.png
images/launchImages/splashscreen.png
images/launchscreen.png
images/Widgets/widget2.png
